@import sass.sass
    
    body{
        background-color: green
        }
    
    body{
        background-color: green
        }
    
    body{
        background-color: green
        }
    
    div.new-branch{
        color: red
        }